<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>Webapp | Ingresar al Sistema</title>
    <!-- Bootstrap core CSS -->
    <link href="../resources/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="../resources/bootstrap/css/jumbotron.css" rel="stylesheet">
    <link href="../resources/bootstrap/css/sticky-footer-navbar.css" rel="stylesheet">

  </head>

  <body>
    
    <header>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="../index.html">Webapp</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link active" href="../index.html">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contacto</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Acerca</a>
            </li>          
          </ul>  
          <a class="btn btn-secondary" href="formLogin.html">Ingresar</a>&nbsp;
          <a class="btn btn-secondary" href="formRegistro.html">Registrarse</a>
        </div>
      </nav>
    </header>

    <main role="main">  
      <div class="container" style="margin-top:60px"> 

        <div class="card">
          <div class="card-body">
            <form  class="form-signin" method="post" action="../controller/login.class.php">
              <div class="row">
                <div class="col-md-4"> 
                </div>  
                <div class="col-md-4"> 
                  <img class="mb-4 rounded mx-auto d-block" src="../resources/images/lock.png" alt="" width="128" height="128">
                  <h4 class="h3 mb-3 font-weight-normal">Ingresar</h4>
                  <label for="username" class="sr-only">Username</label>
                  <input type="text" name="username" id="username" class="form-control" placeholder="Username" required autofocus><br>
                  <label for="password" class="sr-only">Password</label>
                  <input type="password" name="password" id="password" class="form-control" placeholder="Password" required><br>
                  <button class="btn btn-lg btn-primary btn-block" 
                  type="submit" name="login" value="login">Entrar</button>
                  <p class="text-primary" style="font-size: small">¿Todavía no estas registrado? <a href="#">Regístrate</a></p>
                </div>
                <div class="col-md-4"> 
                </div>
              </div>   
            </form>
          </div>
        </div>
      </div> <!-- /container -->

    </main>

    <footer class="footer">
      <div class="container">
        <p>
          &copy; 2021 Webapp
        </p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../resources/bootstrap/js/jquery-3.5.1.js"></script>
    <script src="../resources/bootstrap/js/bootstrap.min.js"></script>     
  </body>
</html>
